{{ template "chart.header" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

## Usage

The library chart should be used as a dependency in a normal application chart like this:

```shell
# Create a new chart directory and enter into it
mkdir -p charts/mychart/{charts,templates}
cd charts/mychart

# Create new Chart.yaml file
cat <<END > Chart.yaml
apiVersion: v2
name: mychart
version: 0.1.0
dependencies:
  - name: libchart
    repository: oci://ghcr.io/jtyr/helm-charts/libchart:0.1.0
    version: 0.1.0
END

# Create a template that uses the libchart functionality (labels)
cat <<END > templates/namespace.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: test
  labels: {{ `{{- include "libchart.v1.labels" . | nindent 4 }}` }}
END

# Test the templating
helm template test .
```

For testing purposes, this Helm library chart can be symlinked to a Helm chart's
`charts` directory and add it into the list of `dependencies` inside of the
`Chart.yaml` file like this:

```shell
# Create a new chart directory and enter into it
mkdir -p charts/mychart/{charts,templates}
cd charts/mychart

# Create symlink
ln -s ../../libchart charts

# Create new Chart.yaml file
cat <<END > Chart.yaml
apiVersion: v2
name: mychart
version: 0.1.0
dependencies:
  - name: libchart
END

# Create a template that uses the libchart functionality (labels)
cat <<END > templates/namespace.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: test
  labels: {{ `{{- include "libchart.v1.labels" . | nindent 4 }}` }}
END

# Test the templating
helm template test .
```

The `libchart` contains several defines that can help to generate various
Kubernetes resources as shown in the following sections. They can be used
individually, per group as shown in each of the sections below or they can be
used all together via a single template:

```gotmpl
# templates/libchart.yaml
{{ `{{- template "libchart.v1.all" . }}` }}
```

### Core defines

Those defines are the default Helm defines that are generated by the `helm
create` command.

#### `libchart.v1.labels`

Generates standard Helm labels that should be added to all Kubernetes resources.
Those labels also include Selector Labels (see below).

```yaml
apiVersion: v1
kind: Namespace
metadata:
  name: test
  labels: {{ `{{- include "libchart.v1.labels" . | nindent 4 }}` }}
```

#### `libchart.v1.selectorLabels`

Generates standard Selector Labels.

```yaml
apiVersion: v1
kind: Deoployment
metadata:
  name: test
spec:
  selector:
    matchLabels: {{ `{{- include "libchart.v1.selectorLabels" . | nindent 4 }}` }}
...
```

#### `libchart.v1.fullname`

Generates fully-qualified Helm chart name that includes the Release Name unless
the release name is the same like the chart name or is overriden by
`fullnameOverride`.

```yaml
apiVersion: v1
kind: Namespace
metadata:
  name: {{ `{{ template "libchart.v1.fullname" . }}` }}
```

#### `libchart.v1.name`

Generates Helm chart name.

```yaml
apiVersion: v1
kind: Namespace
metadata:
  name: test
  labels:
    app.kubernetes.io/name: {{ `{{ template "libchart.v1.name" . }}` }}
```

#### `libchart.v1.chart`

Generates combination of Helm chart name and its version.

```yaml
apiVersion: v1
kind: Namespace
metadata:
  name: test
  labels:
    helm.sh/chart: {{ `{{ include "libchart.v1.chart" . }}` }}
```

#### `libchart.v1.chart`

Generates combination of Helm chart name and its version.

```yaml
apiVersion: v1
kind: Namespace
metadata:
  name: test
  labels:
    helm.sh/chart: {{ `{{ include "libchart.v1.chart" . }}` }}
```

#### `libchart.v1.serviceAccountName`

Generates a `SeerviceAccount` name.

```yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ `{{ include "libchart.v1.serviceAccountName" . }}` }}
```

### Foo defines

The following are defines that help to generate resources for the imaginary Foo
controller. The defines can be used individually as shown in each of the section
below or they can be used all together via single template:

```gotmpl
# templates/libchart-foo.yaml
{{ `{{- template "libchart.v1.foo.all" . }}` }}
```

##### `libchart.v1.foo.bars`

Generates `Bar` resource. The generation is invoked from a template file:

```gotmpl
# templates/bars.yaml
{{ `{{- template "libchart.v1.foo.bars" . }}` }}
```

and is controlled through `values.yaml` file:

```yaml
libchart:
  foo:
    bars:
      - # Name of the Bar resource.
        name: test1
      - name: test2
        # Name of the ServiceAccount for this Bar resource.
        serviceAccountName: my-test2-sa
```

Or using global `serviceAccount.name`:

```yaml
libchart:
  foo:
    bars:
      - name: test1
        serviceAccountName: my-test1-sa
      - name: test2

  serviceAccount
    # Name of the ServiceAccount for all the Bar resources that don't have any
    # serviceAccountName defined.
    name: my-sa
```

{{ template "chart.valuesSection" . }}

## Author

Jiri Tyr
